= wrap_layout :layout do
  .row
    .columns.medium-12
      %h1= current_page.title
    .columns.medium-8
      %h3.date= current_page.date.strftime('%e %B %G')
      %article= yield
    .columns.medium-4
      - author = current_page.data.author
      - info = data.authors.fetch(author)
      %h3= author
      %p= info['bio']
      %p
        - if info['url']
          Website: 
          %a{:href => info['url']}
            = info['url-title'] ? info['url-title'] : info['url']
          %br
        - if info['twitter']
          Twitter:
          %a{:href => "http://twitter.com/" + info['twitter']}
            = "@" + info['twitter']
          %br
      - if info['photo']
        = thumbnail('gallery/blog/' + info['photo'], :medium)