!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / Facebook info
    %meta{content: "First National Festival of LGBT History", property: "og:site_name"}/
    %meta{content: data.page.title, property: "og:title"}/
    -# %meta{content: "Manchester is hosting the first ever national festival focused on exploring, exposing, and discussing LGBT history. The Festival is over five days, and will be at Central Library's Archives+, the People's History Museum, and many venues throughout Manchester.", property: "og:description"}/
    %meta{content: "http://lgbthistoryfestival.org/images/wide-logo.png", property: "og:image"}/
    / Use title if it's in the page YAML frontmatter
    %title= data.page.title || "The First National Festival of LGBT History"
    / Fonts
    %script{src: "//use.typekit.net/cou1fvf.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag "app"
    = javascript_include_tag "modernizr"
    = javascript_include_tag  "all"
  %body{class: "#{page_classes}"}
    %section#branding
      = link_to "/index.html" do
        %h1
          = image_tag "logo.png", :alt => "The First National Festival of LGBT History"
      %nav#primary
        %ul
          = nav_link 'Schedule', '/schedule.html'
          = nav_link 'Travel', '/travel.html'
          = nav_link 'Blog', '/blog.html'
          = nav_link 'Conference', '/conference.html'
          = nav_link 'About', '/about-us.html'
          = nav_link 'Contact', '/contact.html'
    #topborder
    %section#main{role: "content"}= yield
    %section#footer{role: "footer"}
      .row#sponsors
        .large-12.column
          %ul.large-block-grid-6.medium-block-grid-3.small-block-grid-2.partners
            - data.partners.each do |partner|
              %li
                = link_to partner.url do
                  = image_tag partner.logo
    %section#credits.pink{role: "credits"}
      .row
        .columns.medium-2.small-1
          %p
        .columns.medium-8.small-10
          :markdown
            ###### © 2014 LGBT History Festival

            **Part of School's OUT UK, Registered Charity #1156352 in England and Wales.**

            ---

            Uncovering & celebrating our **past** to enlighten our **present** & thereby guiding our creation of a more inclusive & equitable **future**.

            ---

            LGBT History Festival website created with love by [Kim Foale](http://alliscalm.net) and [Squid](http://studiosquid.co.uk/).
        .columns.medium-2.small-1
          %p
    = google_analytics_tag
    :javascript
      $(document).foundation({
        "magellan-expedition": {
          throttle_delay: 50,
          // FIX THIS! 
          // Should get it from jQuery. For some reason $('#branding').outerHeight() 
          // isn't giving the right height.
          fixed_top: 100,
          threshold: -200
        }
      });