!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / Facebook info
    %meta{content: "First National Festival of LGBT History", property: "og:site_name"}/
    %meta{content: data.page.title, property: "og:title"}/
    -# %meta{content: "Manchester is hosting the first ever national festival focused on exploring, exposing, and discussing LGBT history. The Festival is over five days, and will be at Central Library's Archives+, the People's History Museum, and many venues throughout Manchester.", property: "og:description"}/
    %meta{content: "http://lgbthistoryfestival.org/images/wide-logo.png", property: "og:image"}/
    / Use title if it's in the page YAML frontmatter
    %title= data.page.title || "The First National Festival of LGBT History"
    / Fonts
    %script{src: "//use.typekit.net/cou1fvf.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag "app"
    = javascript_include_tag "modernizr"
    = javascript_include_tag  "all"
  %body{class: "#{page_classes}"}
    .off-canvas-wrap{"data-offcanvas" => "data-offcanvas"}
      .inner-wrap
        %nav.tab-bar.show-for-small
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span
        %aside.left-off-canvas-menu.show-for-small
          %ul.off-canvas-list
            = nav_link 'Home', '/index.html'
            = nav_link 'Schedule', '/schedule.html'
            = nav_link 'Travel', '/travel.html'
            = nav_link 'Blog', '/blog.html'
            = nav_link 'Academic', '/conference.html'
            = nav_link 'About', '/about-us.html'
            = nav_link 'Contact', '/contact.html'        
        %section#branding
          = link_to "/index.html" do
            %h1
              = image_tag "logo.svg", :alt => "The First National Festival of LGBT History", :width => 375, :height => 150, :class => "mainlogo"
              = image_tag "strapline.svg", :alt => "Hosted by the City of Manchester", :width => 492, :height => 82, :class => "strapline"
          %nav#primary.hide-for-small
            %ul
              %span.navleft
                = nav_link 'Schedule', '/schedule.html'
                = nav_link 'Travel', '/travel.html'
                = nav_link 'Blog', '/blog.html'
              %li.stickylogo
                = link_to '/index.html' do
                  = image_tag "logo.svg", :alt => "The First National Festival of LGBT History"
              %span.navright
                = nav_link 'Academic', '/conference.html'
                = nav_link 'About', '/about-us.html'
                = nav_link 'Contact', '/contact.html'
        #topborder
        %section#main{role: "content"}= yield
        %section#footer{role: "footer"}
          #partners
            .row
              %ul.large-block-grid-6.medium-block-grid-3.small-block-grid-2.partners
                - data.partners.each do |partner|
                  %li
                    = link_to partner.url do
                      = image_tag partner.logo
          #supporters
            .row
              %ul.large-block-grid-10.medium-block-grid-5.small-block-grid-3.partners
                - data.supporters.each do |supporter|
                  %li
                    = link_to supporter.url do
                      = image_tag supporter.logo                
        %section#credits.pink{role: "credits"}
          .row
            .columns.medium-2.small-1
              %p
            .columns.medium-8.small-10
              :markdown
                ###### © 2014 LGBT History Festival

                **Part of School's OUT UK, Registered Charity #1156352 in England and Wales.**

                ---

                Uncovering & celebrating our **past** to enlighten our **present** & thereby guiding our creation of a more inclusive & equitable **future**.

                ---

                LGBT History Festival website created with love by [Kim Foale](http://alliscalm.net) and [Squid](http://studiosquid.co.uk/).
            .columns.medium-2.small-1
              %p
      %a.exit-off-canvas            
    = google_analytics_tag
    :javascript
      $(document).foundation({
        "magellan-expedition": {
          throttle_delay: 50,
          // FIX THIS! 
          // Should get it from jQuery. For some reason $('#branding').outerHeight() 
          // isn't giving the right height.
          fixed_top: 115,
          threshold: 0
        }
      });