<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Facebook info -->
  <meta property="og:site_name" content="First National Festival of LGBT History"/>
  <meta property="og:title" content="<%= data.page.title %>"/>
  <meta property="og:description" content="Manchester is hosting the first ever national festival focused on exploring, exposing, and discussing LGBT history. The Festival is over five days, and will be at Central Library's Archives+, the People's History Museum, and many venues throughout Manchester."/>
  <meta property="og:image" content="http://lgbthistoryfestival.org/images/wide-logo.png">


  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= data.page.title || "The First National Festival of LGBT History" %></title>

  <!-- Fonts -->
  <script type="text/javascript" src="//use.typekit.net/cou1fvf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= stylesheet_link_tag "app" %>
  <%= javascript_include_tag "modernizr" %></head>

<body class="<%= page_classes %>
  ">
  <section id="branding">
    <div class="row">
      <div class="column large-12">
        <% link_to "index.html" do %>
        <h1>
          <%= image_tag "logo.png", :alt =>"The First National Festival of LGBT History" %></h1>
        <% end %></div>
    </div>
  </section>
  <section id="date">
    <div class="row">
      <div class="columns large-12">
        <h5>St Valentine's Weekend 14th &amp; 15th February 2015</h5>
      </div>
    </div>
  </section>

  <div class="sticky contain-to-grid" id="nav-container">
    <nav role="navigation" id="main-nav" class="top-bar" data-topbar  >
      <ul class="title-area show-for-small">
        <li class="name">
          <h1></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="center small-block-grid-1 medium-block-grid-5">
          <%= nav_link 'Programme', '/programme.html' %>
          <%= nav_link 'Contribute', '/contribute.html' %>
          <%= nav_link 'Conference', '/conference.html' %>
          <%= nav_link 'About', '/about-us.html' %>
          <%= nav_link 'Contact', '/contact.html' %>
        </ul>
      </section>
    </nav>
  </div>

  <section role="content" id="main">
    <%= yield %></section>

  <section role="footer" id="footer">
    <div class="row">
      <div class="large-12 column">
        <ul class="medium-block-grid-4 small-block-grid-2">
          <% data.partners.each do |partner| %>
          <li>
            <% link_to partner.url do %>
            <%= image_tag partner.logo %>
            <% end %></li>
          <% end %></ul>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="columns small-12 medium-6">
        <h6>&copy; 2014 LGBT History Festival</h6>
        <p>
          Part of School's OUT UK, Registered Charity #1156352 in England and Wales.
        </p>
      </div>
      <h6 class="lgbthm">
        <div class="columns medium-6 text-right">
          <% link_to "http://lgbthistorymonth.org.uk/" do %>
          <%= image_tag "lgbthm2.png" %>
          <% end %></div>
      </h6>
    </div>
  </section>

  <section role="credits" id="credits" class="pink">
    <div class="row">
      <div class="column large-12">
        <p>
          Uncovering &amp; celebrating our <strong>past</strong>
          to enlighten our <strong>present</strong>
          &amp; thereby guiding our creation of a more inclusive &amp; equitable
          <strong>future</strong>.
        </p>
        <p>
          LGBT History Festival website created with love by <a href="http://alliscalm.net">Kim Foale</a>, logo &amp; design by <a href="http://studiosquid.co.uk/">Squid</a>.
        </p>
      </p>
    </section>

    <%= javascript_include_tag  "all" %>
    <%= google_analytics_tag %>
    </section>
</body>
</html>