<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= data.page.title || "The First National Festival of LGBT History" %></title>

  <link href='http://fonts.googleapis.com/css?family=Nunito:300,400,700' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="//use.typekit.net/cou1fvf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= stylesheet_link_tag "app", "style" %>
  <%= javascript_include_tag "modernizr" %></head>

<body class="<%= page_classes %>">
  
  <section id="branding">
    <div class="row">
      <div class="column large-12">
        <% link_to "index.html" do %>
        <h1>
          <%= image_tag "logo.png", :alt => "The First National Festival of LGBT History" %>
        </h1>
        <% end %>

      </div>
    </div>
  </section>
  <section id="date">
    <div class="row">
      <div class="column large-12">
        <h5>St Valentine's Weekend 14th &amp; 15th February 2015</h5>
      </div>
    </div>
</section>

  <div class="sticky contain-to-grid" id="nav-container">
    <nav role="navigation" id="main-nav" class="top-bar" data-topbar data-options="sticky_on: large">
  <!--       <ul class="title-area">
          <li class="name">
          </li>
           Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
 -->
      <section class="top-bar-section">
        <ul class="center medium-block-grid-5">
          <li>
            <%= link_to 'Programme', '/programme.html' %></li>
          <li>
            <%= link_to 'Contribute', '/contribute.html' %></li>
          <li class="conference">
            <%= link_to 'Conference', '/conference.html' %></li>
          <li>
            <%= link_to 'About Us', '/about-us.html' %></li>
          <li>
            <%= link_to 'Contact', '/contact.html' %></li>
        </ul>
      </section>
    </nav>
</div>

  <section role="content" id="main">
    <%= yield %>
  </section>

  <section role="footer" id="footer">
    <div class="row">
      <div class="large-12 column">
        <ul>
          <% data.partners.each do |partner| %>
          <li class="large-3 columns">
            <% link_to partner.url do %>
            <%= image_tag partner.logo %>
            <% end %></li>
          <% end %></ul>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="columns large-6">
       <h6>&copy; 2014 LGBT History Festival</h6>
       <p>Part of School's OUT, Registered Charity #1156352 in England and Wales.</p>
      </div>
      <div class="columns large-6">
        <h6>
          The First National Festival of LGBT History is part of
          <img src="http://placekitten.com/200/200" alt="LGBT History Month 2015">
        </h6>
      </div>      
    </div>
  </section>

  <section role="credits" id="credits" class="pink">
    <div class="row">
    <div class="column large-12">
      <p>Uncovering &amp; celebrating our <strong>Past</strong> to Enlighten our <strong>Present</strong> &amp; Thereby guiding our creation of a more inclusive &amp; equitable <strong>Future</strong></p>
      <p>LGBT History Festival website created with love by <a href="http://alliscalm.net">Kim Foale</a>, logo &amp; design by <a href="http://studiosquid.co.uk/">Studio Squid</a>.</p>
    </p>
  </section>

  <%= javascript_include_tag  "all" %></section>
</body>
</html>