---
pageable: true
per_page: 10
title: Blog
---
%section
  .row
    .columns.small-12
      - if defined? tagname
        %ul.breadcrumbs
          %li
            %a{:href => "/blog.html"} Blog
          %li.current
            %a{:href =>  "/blog/tags/" + tagname.parameterize + ".html" }= tagname
        %h1= "Articles tagged &ldquo;" + tagname + "&rdquo;"
      -elsif defined? author
        %ul.breadcrumbs
          %li
            %a{:href => "/blog.html"} Blog
          %li.current
            %a{:href =>  "/author/" + author.name.parameterize + ".html" }= author.name
        %h1= "Articles by " + author.name
      -else
        %h1 Festival Blog
  .row
    .columns.medium-9
      %article.teaser
        - page_articles.each_with_index do |article, i|
          -# Show teaser image, if there is one
          - if article.data.hero
            %div.hero.hide-for-small-only{:style => "background-image: url('#{article.data.hero}')"}
          %h2= link_to article.title, article
          -# Meta info line
          %h3.meta
            By
            = article.data.authors
            on 
            = article.date.strftime('%e %b %G')
            = partial "social"
          - article.data.teaser.each_with_index do |p, i|
            %p{:class => "para#{i}"}= p
          = link_to "Read more...", article, :class => "button"  
    .columns.medium-3
      %h3 Post types
      %ul
        %li 
          %a{:href => "/blog/tags/press-releases.html"} Press Release
        %li 
          %a{:href => "/blog/tags/news.html"} Festival News
        %li
          %a{:href => "/blog/tags/contributor-blogs.html"} Contributor Blogs

      %h3 Authors
      %ul
        - data.authors.sort.each do |author, i|
          - unless i.hide
            %li
              %a{:href =>  "/authors/" + author.parameterize + ".html" }= author

  - if paginate && num_pages > 1
    - if next_page
      %p= link_to 'Next page', next_page
    %p
      Page #{page_number} of #{num_pages}
    - if prev_page
      %p= link_to 'Previous page', prev_page
