---
pageable: true
per_page: 10
title: Festival Blog
---
%section
  .row
    .columns.small-12
      %h1 Blog
  .row
    .columns.medium-9
      %article.teaser
        - page_articles.each_with_index do |article, i|
          - if article.data.hero
            %div.hero{:style => "background-image: url('#{article.data.hero}')"}
          %h2= link_to article.title, article
          %h3.meta
            By
            = article.data.author
            on 
            = article.date.strftime('%e %b %G')
          - article.data.teaser.each_with_index do |p, i|
            %p{:class => "para#{i}"}= p
          = link_to "Read more...", article, :class => "button"  
    .columns.medium-3
      %h3 Authors
      %ul
        - data.authors.sort.each do |author, i|
          %li= author
      %h3 Tags

      %h3 Post types
      %ul
        %li Press release
        %li Blog post

  - if paginate && num_pages > 1
    - if next_page
      %p= link_to 'Next page', next_page
    %p
      Page #{page_number} of #{num_pages}
    - if prev_page
      %p= link_to 'Previous page', prev_page
