---
title: What is & How to DO LGBT History?
---

- extras = {"nugm31eushk6dql7lr1kkfoheo@google.com" => "Main Festival", "kukvjs19gsfdlc8djgci2jeo9k@google.com" => "Theatre", "eskm53mupesptcjep7mrohe4ec@google.com" => "Theatre", "jj8a43h73k6n13rei4c7kb54ms@google.com" => "Theatre"}
- ex_events = {}
- extras.each do |uid,list|
  - ex_events[list] ||= []
  - ex_events[list] << FestivalCalendar::POPULAR.get_event_by_uid(uid)

%section
  .row
    .small-12.columns
      %h1 The 2nd What is &amp; How to Do LGBT History Conference
      %h2 Methods, Subjects, &amp; Approaches
%section.pink
  .row
    .medium-8.columns
      :markdown
        ### About the conference
        Despite the increasing popular demand for "LGBT History" in Britain, the history of attitudes towards sex and gender diversity in the UK remains an underdeveloped field, especially in comparison with the advances that have been made in the United States. An important part of the 10th anniversary celebrations of LGBT History month is to lead and develop the growing discourse into past attitudes towards sex and gender diversity within the academy and among the general public.
    .medium-4.columns
      %h3 Registration
      %p <i class="fi-ticket"></i> <a href="http://crm.lgbthistoryfestival.org/civicrm/event/info?reset=1&id=2">Go to our registration site to sign up!</a>
      %h3
      %p 
        <i class="fi-page"></i> <a href="/attachments/academic-programme.docx">Conference program [doc]</a>
%section
  .row
    .small-12.columns
      %p
        %strong Please refer to the main schedule page for a neater listing. This page will be updated to reflect the new schedule layout in the next few days.
      %ul.schedule.program
        - days = FestivalCalendar::CONFDAYS
        - days.each do |day, time|
          %h2= day
          - academic = FestivalCalendar::ACADEMIC
          - ac_times = academic.get_start_times(time)
          - ac_times += ex_events.values.flatten(1).select { |a| a.dtstart.between?(time, time + 24.hours) }
          - ac_times.uniq! { |x| x.dtstart.to_s}
          - ac_times.sort! { |a,b| a.dtstart <=> b.dtstart }
          - ac_times.each do |time|
            .timegroup
              %h3.time= time.dtstart.strftime("%H:%M")
              .timeblock
                - eventlists = academic.get_events(time)

                // Crowbarring in extra events
                - ex_events.each do |list, events|
                  - events.each do |event|
                    - eventlists[list] ||= []
                    - eventlists[list] << event if event.dtstart == time.dtstart
                - eventlists.each do |list,events|
                  - events.each do |event|
                    %li{:class => "event #{list.to_s.parameterize} #{'has-description' if event.description.present?}"}
                      %strong
                        = event.summary
                        = ' &hellip;' if event.description.present?
                      - duration = ((event.dtend - event.dtstart)/60).to_i
                      %em.duration= "(#{duration} mins)"
                      %div.description
                        = parseEvent(Kramdown::Document.new(event.description).to_html)
%section.pink
  .row
    .medium-8.columns
      :markdown
        ### Topics

         * Archival research and the uncovering of source materials
         * The influence of other disciplines on historical study
         * Experiences of conducting research within the academy
         * Reclaiming forgotten histories
         * Writing the history of under/unexplored regions
         * The relationship between historical study and political activism
         * Considering the impact of our work as historians
         * The problem of naming in a historical context
         * Ethical issues in historical research

        ### Venue
        We are pleased to announce that the conference will be hosted at The LGF Conference Venue, 5 Richmond St, Manchester. [More information about the venue is on the LGF website](http://www.lgf.org.uk/for-professionals/room-hire/).

    .medium-4.columns
      %h3 Academic Patrons
      %h5 (History &amp Archeology)
      :markdown
        * [Harry Cocks](http://www.nottingham.ac.uk/history/people/harry.cocks) (Associate Professor, Faculty of Arts, Nottingham)
        * [Matt Cook](http://www.bbk.ac.uk/history/our-staff/full-time-academic-staff/dr-matt-cook) (Senior Lecturer in History & Gender Studies, Birkbeck, London University.)
        * [Martin Hall](http://www.salford.ac.uk/about-us/corporate-information/university-structure/leadership-and-management/martin-hall) (Vice-Chancellor of Salford University & Archaeologist)
        * [Shelia Rowbotham](http://www.manchester.ac.uk/research/sheila.rowbotham/publications) (Professor, School of Social Sciences, Manchester University)
        * [Charles Upchurch](http://history.fsu.edu/People/Faculty-by-Name/Charles-Upchurch) (Associate Professor of History, Florida State University)
        * [Jeffrey Weeks](http://www.lsbu.ac.uk/about-us/people-finder/prof-jeffrey-weeks) (Research Professor, Arts and Human Sciences, South Bank University).

%section{:style => "margin-bottom: 6em"}
  .row
    .small-12.columns
      :markdown
        ### Contact
         * All enquiries: [academics@schools-out.org.uk](mailto:academics@schools-out.org.uk).
