---
title: Hub Programme
---

%section#s2
  .row
    .large-12.columns
      %h2 Saturday: Manchester Central Library Archives+
    %ul#hub-programme.large-12.columns
      - data.archivesplus.each do |event|
        %li.row{:class => event.type}
          .large-12.columns
            %h3
              %span.date= event.start
              = event.title
          .large-8.columns
            %p
              %strong= event.speaker
              = lorem.sentences 8
          .large-4.columns
            %a.th
              %img{:src => "http://placekitten.com/g/300/200"}

%section#s3
  .row
    .large-12.columns
      %h2 Sunday: People's History Museum
    %ul#hub-programme.large-12.columns
      - data.archivesplus.each do |event|
        %li.row{:class => event.type}
          .large-12.columns
            %h3
              %span.date= event.start
              = event.title
          .large-8.columns
            %p
              %strong= event.speaker
              = lorem.sentences 8
          .large-4.columns
            %a.th
              %img{:src => "http://placekitten.com/g/300/200"}              