---
title: First National Festival of LGBT History
---

%section#hero
  %ul{"data-orbit" => true, "data-equalizer" => true}
    %li.intro.slide{"data-equalizer-watch" => true}
      .row
        .large-8.medium-10.columns
          :markdown
            ### What's this?
            [LGBT History Month](http://lgbthistorymonth.org.uk/) is celebrating its 10th anniversary with the _First National Festival of LGBT History_. There will be a [main festival](programme.html) hosted at [Central Library](http://www.archivesplus.org/), [People's History Museum](http://phm.org.uk), and other prestigious venues around Manchester City Centre, and an academic conference ["What is &amp; how to do LGBT History?"](conference.html), hosted at the [Lesbian &amp; Gay Foundation](http://lgf.org.uk).
          .arrow
            = link_to "Find out more about the festival", '/programme.html', :class => "large button"                          
      .orbit-caption
        .row
          .large-12.columns
            %a{:href => "https://flic.kr/p/8WwFFh"} Canal St (1901),
            courtesy
            %a{:href => "https://www.flickr.com/people/manchesterarchiveplus/"} Manchester Archives+ on Flickr
    %li.who.slide{"data-equalizer-watch" => true}
      .row
        .large-8.medium-10.columns
          :markdown
            ### LGBT History Month
            [Lesbian, Gay, Bisexual and Trans History Month](http://lgbthistorymonth.org.uk/) celebrates the lives and achievements of the LGBT community. LGBT HM is celebrated in February in the UK, but our work to challenge homophobia, biphobia and transphobia continues throughout the year. Education is especially important to achieving this, so much of our work focuses on schools.
          .arrow            
            = link_to "Find out more about the organisers", '/about-us.html', :class => "large button"       
      .orbit-caption
        .row
          .large-12.columns
            Press For Change march (1997), courtesy Janeen Willis

    %li.contribute.slide{"data-equalizer-watch" => true}
      .row         
        .large-8.medium-10.columns
          %h3 Contribute!
          %p
            We are pleased to invite members of the public, charities, NGOs and other LGBT and history organisations, to submit proposals for talks, films, and artworks, based on archival material. We seek to showcase and celebrate endeavours to illuminate the UK's LGBT past, and help write a richer and more inclusive history of Britain.
          .arrow
            = link_to "Find out more about submitting your ideas to the festival", '/contribute.html', :class => "large button"
      .orbit-caption
        .row
          .large-12.columns
            Badges, courtesy People's History Museum  


%section
  .row
    .medium-6.columns.latest-blog
      %h5 Latest blog post
      - latest = page_articles[0]
      %h3= link_to latest.title, latest
      %h5
        By
        = latest.data.authors
        on 
        = latest.date.strftime('%e %b %G')
      - latest.data.teaser.each do |p|
        %p= p
      .arrow
        = link_to "Read more", latest, :class => "button"
        
          
    .medium-6.columns
      %h3 Call for Contributions
      %p
        We are pleased to invite members of the public, charities, NGOs and other LGBT and history organisations, to submit proposals for talks, films, and artworks, based on archival material. We seek to showcase and celebrate endeavours to illuminate the UK's LGBT past, and help write a richer and more inclusive history of Britain.
      .arrow
        = link_to "More information", '/contribute.html', :class => "button" 

      %h3 Academic Contributors
      %p
        The call for academic papers is open until 1st October 2014.
      %p
        The academic conference 'What is & How to DO LGBT History?' is part of the Festival, and seeks to place attitudes, experiences and identities in their historical context. In doing so, we hope to uncover and understand regional, temporal and ideological differences in past attitudes towards gender and sex.
      .arrow
        = link_to "Conference details", '/conference.html', :class => "button"

%section.pink
  .row{"data-equalizer" => true}
    .medium-4.columns.text-center
      %h4 Main Festival
      %p{"data-equalizer-watch" => true} Want to know more about how gay people thought about themselves in the 1880s? Fancy talking to someone about being trans in the 1960s? Curious about what could be hidden in some of these archive boxes?
      = link_to "More about the main festival", "/programme.html", :class => "button"
    .medium-4.columns.text-center
      %h4 Projecting Diversity
      %p{"data-equalizer-watch" => true} We are very excited to showcase a number of film representations of LGBT diversity. This includes a specific focus on German film's pioneering role in representing sex and gender diversity on the screen.
      = link_to "Find out about the films", "/programme.html#films", :class => "button"
    .medium-4.columns.text-center
      %h4 Conference
      %p{"data-equalizer-watch" => true} World-class scholars will present their reserach and discuss historical methods for studying gender and sexual diversity in the past. 
      = link_to "More about the conference", "/conference.html", :class => "button"

-# %section#s5
-#   .row
-#     .large-12.columns
-#       %h3 Some of our speakers  
-#     - (1..6).each do |n|
-#       .large-2.columns
-#         %h5 Famous Cat #{n}
-#         %img{src: "http://placekitten.com/g/150/150"}