---
title: Logos for print and web
---

%section
  .row
    .small-12.columns
      :markdown
        # Festival logos

        Logos are provided in raster [PNG] and vector formats Adobe Illustrator [AI], [PDF] and [SVG]. **If in doubt, use  PNG**. Links labelled [PNG - Transparent] have a transparent background for if you don't have an exact colour match for the background. CMYK and black and white logos are provided for print -- please use colour versions wherever possible.

        _Pink colour code: #EB6D98_

    .small-6.columns
      :markdown
        ## Pink background

        ![Pink background](/logos/pink-background/lgbthistorylogo-onpink.png)

        **Web:** [AI](/logos/pink-background/lgbthistorylogo-onpink.ai)
        [PDF](/logos/pink-background/lgbthistorylogo-onpink.pdf)
        [PNG](/logos/pink-background/lgbthistorylogo-onpink.png)
        [PNG - Transparent](/logos/pink-background/lgbthistorylogo-onpink.png)
        [SVG](/logos/pink-background/lgbthistorylogo-onpink.svg)

        **Print:** [AI - CMYK](/logos/pink-background/lgbthistorylogo-onpink-CMYK.ai)
        [PDF - CMYK](/logos/pink-background/lgbthistorylogo-onpink-CMYK.pdf)

    .small-6.columns
      :markdown
        ## White background

        ![White background](/logos/white-background/lgbthistorylogo-onwhite.png)

        **Web:** [AI](/logos/white-background/lgbthistorylogo-onwhite.ai)
        [PDF](/logos/white-background/lgbthistorylogo-onwhite.pdf)
        [PNG](/logos/white-background/lgbthistorylogo-onwhite.png)
        [SVG](/logos/white-background/lgbthistorylogo-onwhite.svg)

        **Print:** [AI - CMYK](/logos/white-background/lgbthistorylogo-onwhite-CMYK.ai)
        [PDF - CMYK](/logos/white-background/lgbthistorylogo-onwhite-CMYK.pdf)
    .small-6.columns
      :markdown
        ## Black background

        ![Black background](/logos/black-background/lgbthistorylogo-onblack.png)
        
        **Web:** [AI](/logos/black-background/lgbthistorylogo-onblack.ai)
        [PDF](/logos/black-background/lgbthistorylogo-onblack.pdf)
        [PNG](/logos/black-background/lgbthistorylogo-onblack.png)
        [PNG - Transparent](/logos/black-background/lgbthistorylogo-onblack-transparent.png)
        [SVG](/logos/black-background/lgbthistorylogo-onblack.svg)

        **Print:** [AI - CMYK](/logos/black-background/lgbthistorylogo-onblack-CMYK.ai)
        [PDF - CMYK](/logos/black-background/lgbthistorylogo-onblack-CMYK.pdf)

    .small-6.columns
      :markdown
        ## Black &amp; white

        ### White on black
        [AI](/logos/b-w/lgbthistorylogo-white-black.ai)
        [PDF](/logos/b-w/lgbthistorylogo-white-black.pdf)
        [AI - CMYK](/logos/b-w/lgbthistorylogo-white-black-CMYK.ai)
        [PDF - CMYK](/logos/b-w/lgbthistorylogo-white-black-CMYK.pdf)

        ### Black on white

        [AI](/logos/b-w/lgbthistorylogo-black-white.ai)
        [PDF](/logos/b-w/lgbthistorylogo-black-white.pdf)
        [AI - CMYK](/logos/b-w/lgbthistorylogo-black-white-CMYK.ai)
        [PDF - CMYK](/logos/b-w/lgbthistorylogo-black-white-CMYK.pdf)

    .small-12.columns
      %h2 Square logos
      %p Use these for avatars and where a square format is desired.
      %ul.small-block-grid-3
        %li
          = image_tag "/logos/squares/lgbthistorylogo-square-black.png"
          = link_to "PNG", "/logos/squares/lgbthistorylogo-square-black.png"
        %li
          = image_tag "/logos/squares/lgbthistorylogo-square-pink.png"
          = link_to "PNG", "/logos/squares/lgbthistorylogo-square-pink.png"
        %li
          = image_tag "/logos/squares/lgbthistorylogo-square-white.png"
          = link_to "PNG","/logos/squares/lgbthistorylogo-square-white.png"


    .small-12.columns
      :markdown        
        ## LGBT History Month logo

        _Brown colour code: #967856_

    .small-6.columns
      :markdown        
        ### Colour

        ![LGBT History Month full colour logo](/logos/history-month/colour/lgbthm-logo.png)
        **Web:** [AI](/logos/history-month/colour/lgbthm-logo.ai)
        [PDF](/logos/history-month/colour/lgbthm-logo.pdf)
        [PNG](/logos/history-month/colour/lgbthm-logo.png)
        [SVG](/logos/history-month/colour/lgbthm-logo.svg)

        **Print:** [AI - CMYK](/logos/history-month/colour/lgbthm-logo-CMYK.ai)
        [PDF - CMYK](/logos/history-month/colour/lgbthm-logo-CMYK.pdf)
    .small-6.columns
      :markdown
        ### Brown background

        ![LGBT History Month logo for brown background](/logos/history-month/on-brown/lgbthm-logo-onbrown.png)
        **Web:** [AI](/logos/history-month/on-brown/lgbthm-logo-onbrown.ai)
        [PDF](/logos/history-month/on-brown/lgbthm-logo-onbrown.pdf)
        [PNG](/logos/history-month/on-brown/lgbthm-logo-onbrown.png)
        [PNG - Transparent](/logos/history-month/on-brown/lgbthm-logo-onbrown-transparent.png)
        [SVG](/logos/history-month/on-brown/lgbthm-logo-onbrown.svg)

        **Print:** [AI - CMYK](/logos/history-month/on-brown/lgbthm-logo-onbrown-CMYK.ai)
        [PDF - CMYK](/logos/history-month/on-brown/lgbthm-logo-onbrown-CMYK.pdf)

    .small-6.columns.end
      :markdown
        ### Black &amp; white

        [AI](/logos/history-month/b-w/LGBTHistMonth_logo_mono_black.ai)
        [PDF](/logos/history-month/b-w/LGBTHistMonth_logo_mono_black.pdf)
