---
title: Programme of Events
---

#programme
  %section#s2
    .row
      .large-12.columns
        %h2 Friday
      .large-8.columns
        %li
          %h3 Civic Launch at Manchester Town Hall
          %p Professor Charles Upchurch will deliver his ground-braking reserach on the first LGBT civil rights movement in the USA (?) in 1820. Mingle with the gerat and the good. Lord Mayor and Councillors in attendence.
      .large-4.columns
        %h3 Film
        = partial('film-summary', :locals => { :day => "friday" })


  %section#s3
    .row
      .large-12.columns
        %h2 Saturday
      .large-4.columns
        %h3 Archives+
        %ul.hub
          - data.archivesplus.each do |event|
            %li{:class => event.type}
              %h6
                %span.date= event.start
                = event.title
              %p
                %strong= event.speaker
      .large-4.columns
        %h3 Conference
        %ul.hub
          - data.archivesplus.each do |event|
            %li
              = event.title
      .large-4.columns
        %h3 Film
        = partial('film-summary', :locals => { :day => "saturday" })       

  %section#s4
    .row
      .large-12.columns
        %h2 Sunday
      .large-4.columns
        %h3 PHM
        %ul.hub
          - data.archivesplus.each do |event|
            %li
              = event.title
      .large-4.columns
        %h3 Conference
        %ul.hub
          - data.archivesplus.each do |event|
            %li
              = event.title
      .large-4.columns
        %h3 Film
        = partial('film-summary', :locals => { :day => "sunday" })