---
title: Schedule
---
:ruby
  require 'open-uri'
  require 'icalendar'

  days = {  "Friday" => Time.new(2015,2,13),
            "Saturday" => Time.new(2015,2,14),
            "Sunday" => Time.new(2015,2,15) }

  class CalendarSorter

    def initialize(url_array)
      @cals = []
      # Load and sort the array
      url_array.each do |key,url|
        @cals << Icalendar.parse(open(url)).first
      end
      # Unfortunately this creates an unwanted index so we need to rebuild
      # First, create a blank object
      # combine = Icalendar::Calendar.new
      # # For each cal, iterate each event and load it into our new calendar
      # @cals.each do |cal|
      #   cal.events.each do |event|
      #     combine.events << event
      #   end
      # end
      # # And reassign.
      # @cals = combine
      @cals.each do |cal|
        cal.events.sort! { |a,b| a.dtstart <=> b.dtstart }
      end
    end

    def get_start_times(start)
      # Tell us all the possible event starting times
      t = []
      @cals.each do |cal|
        t += cal.events.uniq { |a| a.dtstart.to_s }
      end
      t.select { |a| a.dtstart.between?(start, start + 24.hours) }
    end

    def get_events(time)
      # Get all the.events for a given time
      e = {}
      @cals.each do |cal|
        e[cal.x_wr_calname] = cal.events.select { |a| a.dtstart == time.dtstart }
      end
      e
    end

  end

  academic = CalendarSorter.new({ "Academic" => "https://www.google.com/calendar/ical/lgbthistoryfestival.org_8mtrc289k99o4g90rc9cgce3io%40group.calendar.google.com/public/basic.ics"})
  popular = CalendarSorter.new({ 
              "Main Festival" => "https://www.google.com/calendar/ical/kim%40lgbthistoryfestival.org/public/basic.ics",
              "Family Space" => "https://www.google.com/calendar/ical/lgbthistoryfestival.org_0gc2nrd6ls6fjbuuf8icuju3ag%40group.calendar.google.com/public/basic.ics",
              "Films" => "https://www.google.com/calendar/ical/lgbthistoryfestival.org_qtra32a7f24jpc75ghjuffeops%40group.calendar.google.com/public/basic.ics",
              "Theatre" => "https://www.google.com/calendar/ical/lgbthistoryfestival.org_ijgln6bmp4th9sg6stditdv7ok%40group.calendar.google.com/public/basic.ics"})
%section
  .row
    .small-12.columns
      %ul.schedule.key
        %li.main-festival Main Festival
        %li.family-space Family Space
        %li.films Films
        %li.theatre Theatre
        %li.conference Conference
      %ul.schedule.program
        - days.each do |day, time|
          %h2= day
          - popular.get_start_times(time).each do |time|
            %h3.time= time.dtstart.strftime("%H:%M")
            .timeblock
              - eventlists = popular.get_events(time)
              - eventlists.each do |list,events|
                - events.each do |event|
                  %li{:class => "#{list.to_s.parameterize}"}
                    %strong= event.summary
                    = event.description
                    - duration = ((event.dtend - event.dtstart)/60).to_i
                    %em.duration= "(#{duration} mins)"

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
:javascript
  $( document ).ready(function() {
    $("ul.key .main-festival").click(function(){
      $("ul.program .main-festival").toggle();
      })
  });